// Custom styles.
.post-body{
    text-align: left !important;
}
.hider_title{
    font-family: "Arima Madurai";
    cursor: pointer;
    color: #5E72E4;
}
.close:after{
    content: "";
}
.open:after{
    content: "";
}
